h1{

    text-align: center;
   
    border: 10px double rosybrown;
    padding: 10px;
    font-size: 40px; 

    font-family: 'Times New Roman', Times, serif;
    color: white;
}
div{
    
background-color: blue;
border: 2px solid white;
}

