h1{
    text-align: center;
    color: brown;
    border: 10px double rosybrown;
    padding: 10px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   